#errorBox {
    position: fixed;
    bottom: 10px;
    height: 100px;
    width: 300px;
    margin-left: 1rem;
    padding: 1rem;
}

#messageBox {
    position: fixed;
    bottom: 10px;
    right: 0;
    height: 100px;
    width: 300px;
    margin-right: 1rem;
    padding: 1rem;
}

#errorMessage, #message {
    font-size: 1.2em;
    font-weight: bold;
    font-style: italic;
}

#gameGrid {
    display: grid;
    margin-left: 2rem;
    margin-right: 7rem;
    height: 400px;
    width: 400px;
    grid-template-columns: 1fr 1fr 1fr;
}

.tile {
    border-radius: 5px;
    border: black 1px solid;
    padding: 1rem;
}

.hidingSpot {
    background-color: #55acee;
}

.hidingSpot:hover {
    background-color: #055694;
}

#tryCounter {
    width: 5rem;
}

#endScreen {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
}

.endScreenScreen {
    position: fixed;
    transform: translate(0, 75%);
}

.animalList {
    display: grid;
    padding: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 40px;
    row-gap: 40px;
    width: 100%;
}

.animal {
    width: 100%;
    height: 100%;
}

#makeAnimal {
    padding: 1rem;
}