@use 'text.scss';
@use 'colors.scss';
@use 'components.scss';


html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-image: url("/assets/img/safari-background.jpg");
    background-size: cover;
}

#logo {
    height: 40px;
    width: 40;
    padding-top: 5px;
    float:left;
    border-radius: 8px;
}

nav:nth-child(1) {
    padding-left: 25px;
}

.button {
    font-family: "Atma", system-ui;
}

.input {
    font-family: "Atma", system-ui;
}

.radiusSmall {
    border-radius: 10px;
}

.flexColumnCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none !important;
}