<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Pocket Safari</title>
  <link rel="shortcut icon" href="/assets/img/favicon.ico"/>
  <link rel="stylesheet" type="text/css" href="/assets/main.css"/>
</head>
<body>
  {{!-- NavBar --}}
<nav><a href="/login"><img id="logo" src="/assets/img/elephant.png" alt="elephant logo"/></a>
    <div class="navlink"><a href="/animal">Animal</a></div>
    <div class="navlink"><a href="/settings">Settings</a></div>
    <div class="navlink"><a href="/logout">Log out</a></div>
  </nav>

  {{!-- Content --}}
  <div class="section"></div>
  <section id="game">
  </section>
  <script src="/assets/gameBundle.js"></script>
</body>
</html>
