<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Pocket Safari</title>
  <link rel="shortcut icon" href="/assets/img/favicon.ico" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Chewy&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/main.css" />
</head>

<body>
  {{!-- NavBar --}}
  {{!-- <nav><a href="/login"><img id="logo" src="/assets/img/elephant.png" alt="elephant logo" /></a>
    <div class="navlink"><a href="/animal">Animal</a></div>
    <div class="navlink"><a href="/settings">Settings</a></div>
    <div class="navlink"><a href="/logout">Log out</a></div>
  </nav> --}}

  {{!-- Content --}}
  <div id="game" class="is-flex is-flex-direction-column">
  </div>

  <div id="messageBox" class='hidden card has-background-primary'>
      <h3><span id="message"></span></h3>
  </div>
  <script src="/assets/gameBundle.js"></script>
</body>

</html>