<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Pocket Safari</title>
  <link rel="shortcut icon" href="/assets/img/favicon.ico"/>
  <link rel="stylesheet" type="text/css" href="/assets/main.css"/>
</head>
<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/elephant.png" alt="elephant logo"/></a>
    <div class="navlink"><a href="/animal">Animal</a></div>
    <div class="navlink"><a href="/settings">Settings</a></div>
    <div class="navlink"><a href="/logout">Log out</a></div>
  </nav>

  <section id="content">

  </section>
  <div id="errorBox" class='hidden'>
    <img id="speech" src="/assets/img/speech.png" alt="speech box"/>
    <h3><span id="errorMessage"></span></h3>
    <img id="character" src="assets/img/parrot.png" alt="parrot"/>
  </div>
  <script src="/assets/settingsBundle.js"></script>
</body>
</html>
